body {
    background: #8a868a;
}
#Leaderboard {
    background: white;
    border: 3px solid;
    width: 864px;
    font-size: 25px;
    padding: 15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#HeaderRow {
    background: aqua;
    font-size: 40px;
    font-family: "Times New Roman", serif;
}

#dinodiv {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: "Press Start 2P";
    src: url("assets/PressStart2P-Regular.ttf") format("truetype");
}

#score {
    position: absolute;
    text-align: right;
    top: 0;
    font-family: "Press Start 2P", sans-serif;
}
canvas {
    border: 5px solid black;
    background: white;
}
#readyImage {
    position: absolute;
}