body {
    background: #8a868a;
}
#restartButton {
    position: absolute;
    margin: auto;
}
#gameOverText {
    position: absolute;
    text-align: center;
    top: 0;
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: #8a868a;
}
#dinoDiv {
    width: 854px;
    height: 260px;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: "Press Start 2P";
    src: url("assets/PressStart2P-Regular.ttf") format("truetype");
}

#score {
    position: absolute;
    text-align: right;
    left: 550px;
    top: 0;
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
}
canvas {
    border: 5px solid black;
    background: white;
}
#readyImage {
    position: absolute;
}